#footer {line-height: 1.5;}
#footer.simple {padding: 30px 15px;text-align: center;background-color: var(--black-color);}
#footer.simple .copyright {color: var(--light-color);font-size: 15px;letter-spacing: 1px;font-weight: 400;}
#footer.simple .copyright a {text-decoration: none;color: var(--main-color);-webkit-transition: color .35s ease;-o-transition: color .35s ease;transition: color .35s ease;}
#footer.simple .copyright a:hover {color: var(--light-color);}
#footer.modern {background-color: var(--light-main-color);}
#footer.modern.light-footer {background: var(--light-color);}
#footer.modern .inner-wrap {max-width: 1625px;margin: 0 auto;padding: 40px 15px;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;}
#footer.modern .footer-bottom {width: 33.3333%;}
#footer.modern .footer-bottom-logo {text-align: center;}
#footer.modern .footer-bottom-logo .footer-item {max-width: 120px;margin: 0 auto;}
#footer.modern .footer-bottom-logo img {display: block;max-width: 100%;height: auto;}
#footer.modern .footer-bottom-phone {text-align: right;}
#footer.modern .title {color: var(--main-color);font-size: 12px;font-weight: 700;letter-spacing: 1.56px;}
#footer.modern .text {margin-top: 15px;color: var(--dark-color);font-size: 23px;font-weight: 300;}
@media only screen and (max-width:1600px) {#footer.modern .inner-wrap {max-width: 1170px;}}
@media only screen and (max-width:1200px) {#footer.modern .inner-wrap {padding: 30px 15px;max-width: 1080px;}}
@media only screen and (max-width:1024px) {#footer.modern .inner-wrap {max-width: 100%;padding: 30px;}
	#footer.modern .footer-bottom-logo .footer-item {max-width: 80px;}
	#footer.modern .text {margin-top: 10px;font-size: 20px;}}
@media only screen and (max-width:768px) {#footer.modern .footer-bottom-logo {width: 20%;}
	#footer.modern .footer-bottom-address, #footer.modern .footer-bottom-phone {width: 40%;}
	#footer.modern .title {letter-spacing: 1px;}
	#footer.modern .text {font-size: 18px;}}
@media only screen and (max-width:576px) {#footer.modern .inner-wrap {padding: 30px 15px;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: start;-webkit-align-items: flex-start;-ms-flex-align: start;align-items: flex-start;}
	#footer.modern .footer-bottom {width: 100%;text-align: left;}
	#footer.modern .footer-bottom-logo {-webkit-box-ordinal-group: 2;-webkit-order: 1;-ms-flex-order: 1;order: 1;}
	#footer.modern .footer-bottom-address {margin-top: 25px;-webkit-box-ordinal-group: 3;-webkit-order: 2;-ms-flex-order: 2;order: 2;}
	#footer.modern .footer-bottom-phone {margin-top: 25px;-webkit-box-ordinal-group: 4;-webkit-order: 3;-ms-flex-order: 3;order: 3;}
	#footer.modern .text {font-size: 18px;}}
.main-wrapper.footer-parallax {background-color: var(--light-color);position: relative;z-index: 31;}
#footer {width: 100%;position: absolute;bottom: 0;z-index: 30;}
#footer.footer-parallax {position: fixed;}
#footer.fix-bottom {position: fixed;background-color: transparent;}
#footer.creative {background-color: var(--black-color);color: var(--light-color);padding: 50px 0;text-align: center;}
#footer.creative .inner-wrap {display: -webkit-flex;display: flex;justify-content: space-between;}
#footer.creative .inner-wrap .footer-bottom {flex: 1;padding: 0 15px;}
#footer.creative .inner-wrap .footer-bottom:nth-last-of-type(2) {text-align: center;display: inline-flex;flex-direction: column;align-items: center;padding: 0 20px;margin-top: -9px;}
#footer.creative .inner-wrap .footer-title {font-size: 17px;line-height: 20px;font-weight: 700;letter-spacing: 2.67px;margin-bottom: 35px;}
#footer.creative .inner-wrap .footer-main-title {font-weight: 700;letter-spacing: 2.2px;font-size: 28px;}
#footer.creative .inner-wrap .footer-main-subtitle {font-weight: 700;letter-spacing: 2.2px;font-size: 12px;margin: 5px auto 30px;color: var(--main-color);}
#footer.creative .inner-wrap .footer-info {font-size: 17px;margin-bottom: 35px;}
#footer.creative .inner-wrap .insta-wrap {display: -webkit-flex;display: flex;flex-wrap: wrap;margin-bottom: -15px;justify-content: space-between;}
#footer.creative .inner-wrap .insta-wrap a {display: block;background-size: cover;background-position: center;width: calc(100% / 4 - 45px / 4);padding-top: calc(100% / 4 - 45px / 4);margin-bottom: 15px;}
#footer.creative .inner-wrap .footer-socials {margin-top: -5px;margin-bottom: -5px;}
#footer.creative .inner-wrap .footer-socials a {color: var(--main-color);-webkit-transition: all .45s ease;-moz-transition: all .45s ease;-ms-transition: all .45s ease;-o-transition: all .45s ease;transition: all .45s ease;margin: 5px 7px;font-size: 17px;display: inline-block;}
#footer.creative .inner-wrap .footer-socials a:hover {color: var(--light-color);}
#footer.creative .inner-wrap .wpcf7 {margin-top: -8px;}
#footer.creative .inner-wrap .wpcf7 .ajax-loader {display: none;}
#footer.creative .inner-wrap .wpcf7 p {text-align: center;}
#footer.creative .inner-wrap .wpcf7 input:not([type=submit]) {background: 0 0;color: var(--light-color);border: none;font-size: 16px;font-weight: 300;width: 100%;text-align: center;border-bottom: 1px solid var(--grey-color);-webkit-transition: border-color .45s ease;-moz-transition: border-color .45s ease;-ms-transition: border-color .45s ease;-o-transition: border-color .45s ease;transition: border-color .45s ease;margin-bottom: 35px;}
#footer.creative .inner-wrap .wpcf7 input:not([type=submit]):focus {border-color: var(--main-color);}
#footer.creative .inner-wrap .wpcf7 input:not([type=submit])::-webkit-input-placeholder {color: var(--light-color);}
#footer.creative .inner-wrap .wpcf7 input:not([type=submit])::-moz-placeholder {color: var(--light-color);}
#footer.creative .inner-wrap .wpcf7 input:not([type=submit]):-ms-input-placeholder {color: var(--light-color);}
#footer.creative .inner-wrap .wpcf7 input:not([type=submit]):-moz-placeholder {color: var(--light-color);}
#footer.creative .inner-wrap .wpcf7 input[type=submit] {font-size: 12px;margin-top: 20px;font-weight: 700;cursor: pointer;display: inline-block;text-decoration: none;letter-spacing: 4.2px;text-transform: uppercase;padding: 17px 34px 14px;border: 1px solid var(--light-color);background-color: transparent;color: var(--light-color);-webkit-transition: all .35s ease;-o-transition: all .35s ease;transition: all .35s ease;}
#footer.creative .inner-wrap .wpcf7 input[type=submit]:hover {color: var(--dark-color);background-color: var(--light-color);}
#footer.creative .copyright {text-align: center;padding-top: 50px;font-size: 12px;line-height: 20px;font-weight: 700;letter-spacing: 2.2px;text-transform: uppercase;}
#footer.creative .copyright a {text-decoration: none;color: var(--main-color);}
#footer.creative .copyright a:hover {color: var(--light-color);}
@media only screen and (max-width:991px) {#footer.creative .inner-wrap .insta-wrap a {width: calc(100% / 3 - 10px);padding-top: calc(100% / 3 - 10px);}
	#footer.creative .inner-wrap .insta-wrap a:nth-of-type(5), #footer.creative .inner-wrap .insta-wrap a:nth-of-type(6) {display: none;}}
@media only screen and (max-width:768px) {#footer.creative .inner-wrap {flex-direction: column;}
	#footer.creative .inner-wrap .footer-title {font-size: 16px;letter-spacing: 2px;}
	#footer.creative .inner-wrap .insta-wrap a {width: calc(100% / 4 - 45px / 4);padding-top: calc(100% / 4 - 45px / 4);}
	#footer.creative .inner-wrap .insta-wrap a:nth-of-type(5), #footer.creative .inner-wrap .insta-wrap a:nth-of-type(6) {display: inline-block;}
	#footer.creative .inner-wrap .footer-bottom:not(:last-of-type) {margin-bottom: 33px;}
	#footer.creative .inner-wrap .footer-bottom {display: block !important;}
	#footer.creative .inner-wrap .footer-bottom:nth-last-of-type(2) {margin-top: 11px;}
	#footer.creative .inner-wrap .wpcf7 input[type=submit] {letter-spacing: 3px;}
	#footer.creative {padding: 40px 0;}
	#footer.creative .copyright {padding-top: 35px;letter-spacing: 2px;}}