@media only screen and (min-width:1025px) {#topmenu .menu {position: relative;}
	#topmenu .menu>li.mega-menu {position: static !important;}
	#topmenu .menu>li.mega-menu .sub-menu {visibility: hidden !important;-webkit-transform: none;-ms-transform: none;transform: none;width: 100%;}
	#topmenu .menu>li.mega-menu:hover ul ul li {padding: 5px 0;}
	#topmenu .menu>li.mega-menu:hover ul ul li a {opacity: 1;-webkit-transform: matrix(1,0,0,1,0,0);-ms-transform: matrix(1,0,0,1,0,0);transform: matrix(1,0,0,1,0,0);}
	#topmenu .menu>li.mega-menu:hover .sub-menu {visibility: visible !important;}
	#topmenu .menu>li.mega-menu>.sub-menu {left: 0;}
	#topmenu .menu>li.mega-menu>.sub-menu>li {width: 50%;float: left;}
	#topmenu .menu>li.mega-menu>.sub-menu>li>a {margin-bottom: 10px;border-bottom: 1px solid var(--main-color);display: inline-block;}
	#topmenu .menu>li.mega-menu>.sub-menu>li ul {opacity: 1;visibility: visible;position: static;padding: 5px 0 0;}
	#topmenu .menu>li.mega-menu>.sub-menu>li li {width: 100%;float: none;}}